# Exclude all compiled object files in subdirectories
**/*.o

# Exclude executable output files named "main" in all subdirectories
**/main

# Executable files
a.out

# Compiled C programs
*.exe

# Temporary files
*~

# Dependency files
*.d

# Editor-specific files and directories
.vscode/
.idea/
